/* Globals */
:root {
  /* Primary Colors */
  --strong-cyan: hsl(171, 66%, 44%);
  --strong-cyan--active: hsl(171, 82%, 62%);
  --light-blue: hsl(233, 100%, 69%);
  --light-blue--active: hsl(233, 100%, 75%);

  /* Neutral Colors*/
  --title: hsl(210, 10%, 33%);
  --text: hsl(201, 11%, 66%);
  --footer-bg: #eee;

  /* Fonts propertys */
  --font-size: 18px;
  --font-family: 'Bai Jamjuree', sans-serif;
  --font-weight-light: 400;
  --font-weight-heavy: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

.header {
  background-image: url('../images/bg-header-mobile.png');
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: repeat(3, 200px 1fr 1fr);
  height: 100vh;
  place-items: center;
  width: 100%;
}

.section {
  margin-bottom: 50px;
  text-align: center;
  width: 90%;
}

.section__title {
  margin-top: 0;
  font-size: 32px;
  color: var(--title);
}

.section__text {
  font-size: var(--font-size);
  line-height: 1.5;
  color: var(--text);
}

.download-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  border: none;
  border-radius: 25px;
  font-size: var(--font-size);
  color: white;
  outline: none;
}

.ios {
  background-color: var(--strong-cyan);
}

.ios:active {
  transform: scale(0.95);
  background-color: var(--strong-cyan--active);
}

.mac {
  background-color: var(--light-blue);
}

.mac:active {
  transform: scale(0.95);
  background-color: var(--light-blue--active);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 90%;
  margin-bottom: 50px;
}

.content__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.features {
  display: grid;
  place-items: center;
  gap: 20px;
}

.features__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  margin-bottom: 50px;
}

.section__feature-title {
  font-size: 1.5em;
  margin-top: 50px;
}

.companies {
  display: grid;
  place-items: center;
  gap: 50px;
  margin-bottom: 150px;
}

footer {
  background-color: var(--footer-bg);
  margin-top: 150px;
}

.footer__content {
  display: grid;
  place-items: center;
}

.footer__content-logo {
  padding: 30px;
  text-align: center;
}

.footer__content-logo img {
  max-width: 50%;
}

.links__list {
  list-style-type: none;
  display: grid;
  place-items: center;
  row-gap: 30px;
  padding: 0;
}

.links__list-items {
  font-size: var(--font-size);
  justify-content: space-between;
}

.links__list-items a {
  text-decoration: none;
  font-weight: var(--font-weight-heavy);
  color: var(--title);
}

.footer__content-social {
  width: 80%;
}

.social__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.social__list a {
  text-decoration: none;
  font-weight: var(--font-weight-heavy);
  color: var(--title);
}

.social-icon {
  font-size: 30px;
}

.attribution {
  background-color: teal;
  padding: 10px;
  font-size: 11px;
  text-align: center;
  margin: 0;
}
.attribution__links {
  color: white;
}

@media screen and (min-width: 376px) {
  .header {
    background-image: url('../images/bg-header-desktop.png');
    padding-top: 100px;
  }
}
@media screen and (min-width: 1440px) {
  
  .header {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: 80vh;
    width: 100%;
  }

  .section {
    width: 80%;
    display: grid;
    place-items: center;
  }

  .section__title {
    width: 55%;
  }

  .section__text {
    width: 55%;
    margin: 0;
  }

  .download-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  .button {
    cursor: pointer;
  }

  .ios:hover {
    background-color: var(--strong-cyan--active);
  }
  .mac:hover {
    background-color: var(--light-blue--active);
  }

  .content:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    position: relative;
    margin-top: 100px;
  }

  .content:nth-child(2) .img {
    position: relative;
    top: 45px;
    left: -30px;
  }

  .content__group {
    margin: 0;
    display: grid;
    grid-template-rows: repeat(1fr);
  }

  .content__group .section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    text-align: left;
    margin: 0;
  }

  .content__group .section__title {
    font-size: 28px;
    width: 70%;
  }

  .content__group .section__text {
    width: 70%;
  }

  .content:nth-child(3) {
    margin-top: 100px;
  }

  .content:nth-child(3) .section__title {
    width: 60%;
  }

  .content:nth-child(3) .section__text {
    width: 60%;
  }

  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .section__feature-title {
    width: 85%;
    margin-top: 25px;
  }

  .section__feature-text {
    width: 85%;
  }

  .companies {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 100px auto 120px;
  }

  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__content-logo img {
    max-width: 40%;
  }

  .links__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
  }

  .links__list-items {
    width: 150px;
    margin: 0 5px;
  }

  .links__list-items a {
    font-weight: var(--font-weight-light);
  }

  .footer__content-social {
    width: 20%;
  }

  .social__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    width: 150px;
  }

  .footer__content a:hover {
    color: var(--strong-cyan);
  }
}
